/* ==UserStyle==
@name           Ink for YouTube
@namespace      github.com/FaySmash
@version        0.3.1
@description    This gives YouTube more color back!
@author         FaySmash (https://gitlab.com/FaySmash)
@homepageURL	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded
@supportURL 	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded/issues
@license		GPL-3.0-or-later
@preprocessor	stylus
@var			color		primary-color		    'Primary Color'			#D91D1B
@var			color		secondary-color	    	'Secondary Color'		#FFFFFF
@var			color		tertiary-color          'Tertiary Color'		#D91D1B
@var			select		adaptive-color		    'Adaptive Color'		["Fixed", "Adaptive"]
@var			checkbox	create-button	    	'Create Button'			1
@var			checkbox	notifications-button    'Notifications Button'	1
@var			checkbox	mic-button              'Mic Button'            1
==/UserStyle== */
@-moz-document domain("www.youtube.com") {
    :root, [dark], [light] {
        --yt-brand-color: primary-color !important;
        --yt-spec-wordmark-text: secondary-color !important;
        --yt-spec-text-secondary: secondary-color !important;
        --yt-spec-icon-inactive: secondary-color !important;
        --yt-spec-icon-active-other: secondary-color !important;
        --yt-spec-static-brand-red: tertiary-color !important;
        --yt-spec-static-overlay-background-brand: tertiary-color !important;
        --yt-brand-paper-button-color: tertiary-color !important;
        --paper-tabs-selection-bar-color: tertiary-color !important;
    }
    
    /* ---------------------------------------------------------------------- TOP BAR ---------------------------------------------------------------------- */
    /* sets the color, adding shadow and adjusting height of the bar at the top */
    #container.ytd-masthead {
        background-color: primary-color !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        height: 64px;
    }

    ytd-mini-guide-renderer.style-scope {
        top: 64px;
    }

    #page-manager.ytd-app {
        margin-top: 64px !important;
    }

    /* Top Progress Bar */
    #progress.yt-page-navigation-progress {
        background: darken(primary-color, 25%) !important;
    }

    /* sets the color of the YouTube Icon to secondary color */
    .yt-icon-shape.style-scope.yt-icon.yt-spec-icon-shape > div > svg > g:nth-child(1) > path:nth-child(1) {
        fill: secondary-color;
    }

    /* sets the color of the Arrow inside the YouTube Icon to primary color */
    .yt-icon-shape.style-scope.yt-icon.yt-spec-icon-shape > div > svg > g:nth-child(1) > path:nth-child(2) {
        fill: primary-color;
    }

    /* ---------------------------------------------------------------------- APP DRAWER ---------------------------------------------------------------------- */
    /* sets the color, shadow and height of the top of the app drawer */
    #header.ytd-app {
        background-color: primary-color;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        height: 64px;
    }
   
    /* ---------------------------------------------------------------------- TOP BAR BUTTONS ---------------------------------------------------------------------- */
    /* sets the color of the icons in the top right corner to secondary color */
    #end div svg > path {
        fill: secondary-color;
    }
    
    #end button > div {
        color: secondary-color;
    }
    
    /* sets the color of the mic button to secondary color */
    #voice-search-button button > div {
        color: secondary-color;
    }

    /* toggle if the create button should be visible */
    #end > #buttons > ytd-button-renderer:nth-child(1) {
        if create-button==0 {
            display: none !important;
        }
    }
    
    /* toggle if the notifications button should be visible */
    ytd-notification-topbar-button-renderer.style-scope {
        if notifications-button==0 {
            display: none !important;
        }
    }

    /* toggle if the mic button should be visible */
    #voice-search-button.ytd-masthead {
        if mic-button==0 {
            display: none !important;
        }
    }

    /* sets the color of the notification count background to primary color with 65% less lightness */
    #notification-count.ytd-notification-topbar-button-renderer {
        background-color: lightness(primary-color, 35%);
        color: secondary-color;
    }

    /* ---------------------------------------------------------------------- OTHER BUTTONS ---------------------------------------------------------------------- */
    /* Thumbnail Progressbar */
    #progress.ytd-thumbnail-overlay-resume-playback-renderer {
        background: tertiary-color !important;
    }
    
    div.ytProgressBarLineProgressBarPlayed.ytProgressBarLineProgressBarPlayedRefresh {
        background: tertiary-color !important;
    }

    /* Video Progressbar */
    .ytp-progress-bar .ytp-progress-list .ytp-play-progress.ytp-swatch-background-color {
        background: tertiary-color;
    }
    
    #efyt-progress::-moz-progress-bar {
        background-color: primary-color;   
    }

    /* Video Progressbar Cursor Button */
    .ytp-progress-bar .ytp-scrubber-button {
        background: tertiary-color;
    }

    /* Live Badge */
    .ytp-cairo-refresh.ytp-livebadge-color-control .ytp-live-badge[disabled]::before {
        background-color: tertiary-color;
    }

    /* Resolution Settings Badge */
    .ytp-settings-button.ytp-hd-quality-badge::after,
    .ytp-settings-button.ytp-4k-quality-badge::after,
    .ytp-settings-button.ytp-5k-quality-badge::after,
    .ytp-settings-button.ytp-8k-quality-badge::after {
        background-color: tertiary-color !important;
    }

    /* Subtitle Button unterline */
    .ytp-chrome-controls .ytp-button[aria-pressed]::after {
        background: tertiary-color !important;
    }

    /* Alert Render */
    .INFO.ytd-alert-renderer {
        background-color: tertiary-color !important;
    }

    /* Avater Live badge */
    .yt-spec-avatar-shape__live-badge {
        background-color: tertiary-color !important;
    }
    
    .yt-spec-avatar-shape--live-ring::after {
        background: tertiary-color !important;
    }
    
    /* ---------------------------------------------------------------------- SEARCHBOX ---------------------------------------------------------------------- */
    /* adds the magnifying glass icon in front of the input field */
    yt-searchbox::before {
        content: "";
        height: 24px;
        width: 24px;
        position: absolute;
        z-index: 2;
        top: 9px;
        left: 16px;
        background-image: 'url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23%s%22%3E%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27A6.471%206.471%200%200%200%2016%209.5%206.5%206.5%200%201%200%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22/%3E%3C/svg%3E")' % unquote(slice(unquote(""+rgba(secondary-color, 1.0)), 1));
        /* the URL without encoding: url("data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#%s"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>" 

more information about % unquote(slice(unquote(""+secondary-color),1)):
https://stackoverflow.com/questions/40075293/using-stylus-css-preprocessor-embedding-svg-in-a-background-image-property-with
http://stylus-lang.com/docs/bifs.html#unquotestr--ident
http://stylus-lang.com/docs/bifs.html#sliceval-start-end
		*/
    }

    /* sets the design of the searchbox */
    yt-searchbox .ytSearchboxComponentInputBox{
        margin: 0 !important;
        color: secondary-color !important;
        height: 48px !important;
        max-width: 650px !important;
        border-radius: 4px !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        padding-left: 72px !important;
        outline: none !important;
        top: -4px !important;
        font: 400 16px/48px Roboto, Arial, sans-serif !important;
        background-color: hsla(0, 0%, 100%, .15) !important;
    }

    /* hides the "search" button */
   .ytSearchboxComponentSearchButton {
        display: none !important;
    }

    /* hides the default magnifying glass icon */
    div.ytSearchboxComponentInnerSearchIcon {
        display: none !important;
    }

    /* moves the "clear search" button to the left and sets the color to secondary color */
    .ytSearchboxComponentClearButtonWrapper {
        padding-right: 20px !important;
    }

    .ytSearchboxComponentClearButtonIcon{
        color: secondary-color !important;
    }

    /* fix for "Hide watched Videos" UserScript */
    .YT-HWV-BUTTONS {
        border: none !important;
    }
       
    .YT-HWV-BUTTON-DISABLED svg > path {
        fill: rgba(255, 255, 255, 0.5) !important;
    }
}

/* determines if the always colored or adaptive colored top bar style is applied */
if adaptive-color==Adaptive {
    @-moz-document regexp("https?:\/\/(www\.)?youtube\.com\/watch.*") {
        /* sets the color of the bar at the top to rgb(35,35,35) */
        #container.ytd-masthead {
            background-color: rgb(35, 35, 35) !important;
        }

        /* sets the color of the top of the app drawer to rgb(35,35,35) */
        #header.ytd-app {
            background-color: rgb(35, 35, 35);
        }

        /* sets the color of the Arrow inside the YouTube Icon to rgb(35,35,35) */
        .yt-icon-shape.style-scope.yt-icon.yt-spec-icon-shape > div > svg > g:nth-child(1) > path:nth-child(2) {
            fill: rgb(35, 35, 35);
        }
    }
}