/* ==UserStyle==
@name           Ink for Keep
@namespace      github.com/FaySmash
@version        0.1.6
@description    This gives Google Keep more color back!
@author         FaySmash (https://gitlab.com/FaySmash)
@homepageURL	https://gitlab.com/FaySmash/
@supportURL 	https://gitlab.com/FaySmash/
@license		GPL-3.0-or-later
@preprocessor	stylus
@var			color		primary-color		'Primary-Color'			#FFBB00
@var			color		secondary-color		'Secondary-Color'		#3E50B4
@var			color		secondary-color2	'Secondary-Color 2'     #FFF
@var			select		sb-position			'Searchbox Position'	["Left","Centered"]
==/UserStyle== */
@-moz-document domain("keep.google.com") {
    /* ---------------------------------------------------------------------- TOP BAR ---------------------------------------------------------------------- */
    /* adding shadow and adjusting height of the bar at the top */
    #gb {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        height: 62px;
    }

    .gb_Hd {
        box-shadow: none;
    }

    /* sets the color of the bar at the top */
    #gb > :nth-child(2) {

        background-color: primary-color !important;
    }

    /* hides the Google Logo */
    #gb > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
        display: none;
    }

    /* ---------------------------------------------------------------------- APP DRAWER ---------------------------------------------------------------------- */
    /* makes the App Drawer selector edgy */
    body.dkl3Ye li.xl07Ob-ibnC6b {
        border-radius: 0;
    }

    .dkl3Ye li.xl07Ob-ibnC6b.gk6SMd {
        background-color: rgba(primary-color, 0.25);
    }


    /* ---------------------------------------------------------------------- SEARCHBOX ---------------------------------------------------------------------- */
    /* sets the position of the searchbox to be centered if sb-position = Centered */
    if sb-position==Centered {
        header#gb div form {
            position: absolute;
            left: 300px;
            right: 200px;
            margin: auto !important;
        }
    }

    /* determines the design of the searchbox */
    header#gb div form {
        border: 0;
        background: hsla(0, 0%, 100%, .15) !important;
        height: 48px;
        max-width: 650px;
        box-shadow: none;
        font: 400 16px/48px Roboto, Arial, sans-serif;
        transition: none;
        border-radius: 4px;
    }

    /* ---------------------------------------------------------------------- MISC ---------------------------------------------------------------------- */
}

@-moz-document regexp("https?:\\/\\/keep\\.google\\.com\\/.*#search.*") {
    /* sets the color of the bar at the top */
    #gb > :nth-child(2) {
        background-color: secondary-color !important;
    }

    /* sets the color of the icons in the searchbox to the secondary color and removes opacity on active search bar */
    header#gb button svg,
    .gb_je.gb_oe,
    .gb_Ie.gb_Sc svg,
    .gb_ie,
    div.gb_hc:nth-child(1) > svg:nth-child(1) {
        opacity: 1.0 !important;
        fill: secondary-color2 !important;
        color: secondary-color2 !important;
    }

    /* tints the typed text in secondary color on active search bar */
    header#gb div form input {
        color: secondary-color !important;
        -webkit-text-fill-color: secondary-color2
    }
}