/* ==UserStyle==
@name           Ink for GMail
@namespace      github.com/FaySmash
@version        0.2.4
@description    This gives GMail more color back!
@author         FaySmash (https://gitlab.com/FaySmash)
@homepageURL	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded
@supportURL 	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded/issues
@license		GPL-3.0-or-later
@preprocessor	stylus
@var			color		primary-color		'Primary-Color'			#DB4437
@var			color		secondary-color		'Secondary Color'		#FFFFFF
@var			select		sb-position			'Searchbox Position'	["Left","Centered"]
==/UserStyle== */
@-moz-document domain("mail.google.com") {
	/* ---------------------------------------------------------------------- TOP BAR ---------------------------------------------------------------------- */
	/* makes the scroll bar at the left persistent, even when not hovered over the app drawer */
	.aeN .ajl {
		overflow: auto;
	}

	/* sets the color, adding shadow and adjusting height of the bar at the top */
	#gb {
		background-color: primary-color !important;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
		height: 64px;
	}

	/* tints the GMail Logo white and moves it to the left as well as under the parent class */
	#gb > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(1) {
		filter: brightness(365%);
		margin-left: -44px;
		z-index: -1;
	}

	/* generates a border which overlapps the GMail Logo */
	#gb > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) {
		border-left-width: 42px;
		border-left-style: solid;
		border-color: primary-color;
	}

	/* makes the App Drawer selector edgy */
	.TK .TO {
		border-radius: 0;
	}

	/* ---------------------------------------------------------------------- BUTTONS ---------------------------------------------------------------------- */
	/* ---------------------------------------------------------------------- APP DRAWER ---------------------------------------------------------------------- */
	/* removes the Shadow of the "New Mail" Button */
	.z0 > .L3,
	.z0 > .L3:hover {
		box-shadow: none;
	}

	/* sets the color of the icons to the secondary color and removes opacity on active search bar */
	#gb > :nth-child(n) svg {
		opacity: 1.0 !important;
		fill: secondary-color;
	}

	/* sets the color of the notification bell */
	.gb_Kc .gb_Be {
		color: primary-color;
		background-color: secondary-color;
	}

	/* ---------------------------------------------------------------------- SEARCHBOX ---------------------------------------------------------------------- */
	/* sets the position of the searchbox to be centered if sb-position = Centered */
	if sb-position==Centered {
		#aso_search_form_anchor {
			position: absolute;
			left: 200px;
			right: 200px;
			margin: auto;
		}
	}

	/* determines the design of the searchbox */
	#aso_search_form_anchor {
		border: 0;
		background: hsla(0, 0%, 100%, .15);
		height: 48px;
		max-width: 650px;
		box-shadow: none;
		font: 400 16px/48px Roboto, Arial, sans-serif;
	}

	/* tints the typed text in secondary color */
	#aso_search_form_anchor input {
		color: secondary-color !important;
		-webkit-text-fill-color: secondary-color
	}
}