/* ==UserStyle==
@name           Ink for Google Drive
@namespace      github.com/FaySmash
@version        0.1.6
@description    This gives Google Drive more color back!
@author         FaySmash (https://gitlab.com/FaySmash)
@homepageURL	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded
@supportURL 	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded/issues
@license		GPL-3.0-or-later
@preprocessor	stylus
@var			color		primary-color		'Primary-Color'			#607D8B
@var			color		secondary-color		'Secondary Color'		#FFFFFF
@var			select		sb-position			'Searchbox Position'	["Left","Centered"]
==/UserStyle== */
@-moz-document domain("drive.google.com") {
    /* ---------------------------------------------------------------------- TOP BAR ---------------------------------------------------------------------- */
    /* adding shadow and adjusting height of the bar at the top */
    #gb {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
        height: 64px;
    }

    /*sets the color of the bar at the top */
    #gb > :nth-child(2) {
        background-color: primary-color !important;
    }

    /* removes the Google Drive Logo */
    #gb > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(n) img {
        display: none;
    }

    /* sets the color of the Google Drive Text to secondary color */
    #gb > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
        
        opacity: 1.0;
        padding-left: 44px;
        color: secondary-color;
    }

    /* ---------------------------------------------------------------------- APP DRAWER ---------------------------------------------------------------------- */
    /* makes the "New"  button edgy */
    .a-D-gc-wKOTTc .a-ec-Gd button.RTMQvb,
    .a-D-gc-wKOTTc .a-ec-Gd button.RTMQvb:hover {
        box-shadow: none;
        background: none;
    }

    /* places the "New" button centered */
    .a-D-gc-wKOTTc .a-D-B-Lc-j {
        top: 0px;
        bottom: -36px;
        margin: auto
    }

    /* moves the "New" button up a little to be centred */
    button.RTMQvb:nth-child(1) {
        top: -6px;
    }

    /* makes the Background of the "New" button grey when hovered */
    .a-D-B-Lc-j:hover {
        background: #fafafb;
    }

    /* makes the App Drawer selector edgy */
    .a-dkl3Ye .a-U-J {
        border-radius: 0;
    }

    /* removes the gap right to the App Drawer selector */
    .a-nEbBXb .a-da-U .a-U-xc {
        padding-right: 0;
    }

    /* ---------------------------------------------------------------------- BUTTONS ---------------------------------------------------------------------- */
    /* sets the color of the icons to the secondary color and removes opacity on active search bar */
   #gb > :nth-child(n) svg {
        opacity: 1.0 !important;
        fill: secondary-color;
    }

    /* makes the Settings Button Background dark Gray on hover */
    .a-dkl3Ye .Hb-ja-Na .a-c-d:hover:not(.h-R-d-db),
    .a-nEbBXb .a-c-d.h-R-d-pb,
    .a-nEbBXb .Hb-ja-Na .a-c-d.h-R-d-Pb.h-R-d-pb:not(.h-R-d-db),
    .a-nEbBXb .a-c-d:active:not(.h-R-d-db),
    .a-dkl3Ye .Hb-ja-Na .o-Yc-Vf-d.h-d-Pb,
    .a-dkl3Ye .Hb-ja-Na .a-c-d:focus:not(.h-R-d-db),
    .a-dkl3Ye .Hb-ja-Na .o-Yc-Vf-d.h-d-pb.h-d-Pb {
        background-color: rgba(0, 0, 0, 0.25) !important;
    }

    /* removes the blue Border around the Settings Icon */
    .a-dkl3Ye .Hb-ja-Na .a-c-d:focus:not(.h-R-d-db) {
        border: none;
    }

    /* makes the Settings Icon white */
    .a-d-c svg {
        fill: secondary-color !important
    }

    /* sets the color of the notification bell */
    .gb_Kc .gb_Be {
        color: primary-color;
        background-color: secondary-color;
    }

    /* ---------------------------------------------------------------------- SEARCHBOX ---------------------------------------------------------------------- */
    /* sets the position of the searchbox to be centered if sb-position = Centered */
    if sb-position==Centered {
        #aso_search_form_anchor {
            position: absolute;
            left: 300px;
            right: 300px;
            margin: auto;
        }
    }

    /* determines the design of the searchbox */
    #aso_search_form_anchor {
        border: 0;
        background: hsla(0, 0%, 100%, .15);
        height: 48px;
        max-width: 650px;
        box-shadow: none;
        font: 400 16px/48px Roboto, Arial, sans-serif;
    }

    /* tints the typed text in secondary color */
    #aso_search_form_anchor input {
        color: secondary-color !important;
        -webkit-text-fill-color: secondary-color
    }
}