/* ==UserStyle==
@name           Ink for Google Calendar
@namespace      github.com/FaySmash
@version        0.1.4
@description    This gives Google Calendar more color back!
@author         FaySmash (https://gitlab.com/FaySmash)
@homepageURL	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded
@supportURL 	https://gitlab.com/FaySmash/Ink-for-Google-Reloaded/issues
@license		GPL-3.0-or-later
@preprocessor	stylus
@var			color		primary-color		'Primary-Color'			#4286F5
@var			color		secondary-color		'Secondary Color'		#FFFFFF
@var			select		sb-position			'Searchbox Position'	["Left","Centered"]
==/UserStyle== */
@-moz-document domain("calendar.google.com") {
	/* ---------------------------------------------------------------------- TOP BAR ---------------------------------------------------------------------- */
	/* adding shadow and adjusting height of the bar at the top */
	#gb {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
		height: 64px;
	}

	/*sets the color of the bar at the top */
	#gb > :nth-child(2) {
		background-color: primary-color !important;
	}

	/* removes the Google Calendar Logo */
	#gb > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(n) img {
		display: none;
	}

	/* sets the color of the Google Calendar Text to secondary color */
	#gb > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(1) > :nth-child(2),
	#gb > :nth-child(2) > :nth-child(1) > :nth-child(5) > :nth-child(1) {
		opacity: 1.0;
		padding-left: 44px;
		color: secondary-color;
	}

	/* ---------------------------------------------------------------------- BUTTONS ---------------------------------------------------------------------- */
	/* removes the Shadow of the Add Button */
	.wJGlHe.SaBhMc:not(.jVwmLb) {
		box-shadow: none;
	}

	/* sets the color of the icons to the secondary color and removes opacity on active search bar */
	#gb > :nth-child(n) svg {
		opacity: 1.0 !important;
		fill: secondary-color;
	}

	.gb_Uc,
	.DPvwYc,
	div.rF3YF span {
		color: secondary-color;
	}

	/* tints Text on Buttons white */
	.Cd9hpd .NlWrkb,
	.GXlaye .snByac,
	.gb_Xa,
	.rSoRzd,
	.KaL5Wc {
		opacity: 1.0 !important;
		color: secondary-color;
	}

	/* ---------------------------------------------------------------------- SEARCHBOX ---------------------------------------------------------------------- */
	/* sets the position of the searchbox to be centered if sb-position = Centered */
	if sb-position==Centered {
		#aso_search_form_anchor {
			position: absolute;
			left: 200px;
			right: 200px;
			margin: auto;
		}
	}

	/* determines the design of the searchbox */
	#aso_search_form_anchor {
		border: 0;
		background: hsla(0, 0%, 100%, .15);
		height: 48px;
		max-width: 650px;
		box-shadow: none;
		font: 400 16px/48px Roboto, Arial, sans-serif;
	}

	/* tints the typed text in secondary color */
	#aso_search_form_anchor input {
		color: secondary-color !important;
		-webkit-text-fill-color: secondary-color
	}
}